/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: rgba(15, 23, 42, 0.9);
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

/* LOGO */
nav h2 {
  color: #38bdf8;
}

/* LINKS DESKTOP */
.links {
  display: flex;
  gap: 20px;
}

.links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.links a:hover {
  color: #38bdf8;
}

/* HAMBURGER */
.hamburger {
  font-size: 26px;
  cursor: pointer;
  display: none;
}

/* MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .links {
    display: none;
  }

  .links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
    width: 180px;
  }
}