/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f172a;
  padding: 15px 20px;
  color: white;
  position: relative;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

/* LINKS */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* HAMBURGER */
.hamburger {
  font-size: 25px;
  cursor: pointer;
  display: none;
}

/* ========================= */
/* 📱 MOBILE */
/* ========================= */

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: #1e293b;
    width: 200px;
    padding: 20px;
    gap: 15px;
  }

  .nav-links.active {
    display: flex;
  }
}